* {
  font-family: roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
li {
  list-style: none;
}
 
img {
  display: block;
}
 
body {
  width: 100vw;
  height: 100vh;
  padding: 4rem 18.75%;
}